.consulta-container {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f7f8fa;
}

.consultaheader {
    background-color: #007bff;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.consultanav {
    display: flex;
    gap: 20px;
}

.nav-buttonconsulta {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-buttonconsulta:hover {
    color: #000000;
}

.main-contentconsulta {
    padding: 20px;
    flex: 1;
}

.filtersconsulta {
    margin-bottom: 20px;
}

.filter-inputconsulta {
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 180px;
}

.consulta-list {
    margin-top: 20px;
}

.consulta-item {
    background-color: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
}

.consulta-info {
    display: flex;
    flex-direction: column;
}

.consulta-item p {
    margin: 5px 0;
    font-size: 16px;
}

.action-buttonsconsulta {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.action-buttonconsulta {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.action-buttonconsulta i {
    margin-right: 5px;
}

.action-buttonconsulta.excluir {
    background-color: red;
    color: white;
}

.action-buttonconsulta.excluir:hover {
    background-color: darkred;
}

.action-buttonconsulta.editar {
    background-color: blue;
    color: white;
}

.action-buttonconsulta.editar:hover {
    background-color: darkblue;
}

.consulta-list {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
}

.agendar-buttonconsulta {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 200px;
    transition: background-color 0.3s;
}

.agendar-buttonconsulta:hover {
    background-color: #393941;
}